<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Inicio de sesión</title>
</head>

<body>
    <div class="capa-uno"></div>
    <div class="capa-dos"></div>
    <div class="capa-tres"></div>
    <form id="formularioLogin" class="formularioLogin">
        <h2 class="formulario__titulo">Inicio de sesión</h2>
        <span id="error"></span>
        <div class="formulario__grupo">
            <label class="formulario__etiqueta" for="correo">Correo</label>
            <input class="formulario__entrada" type="text" id="correo" name="correo">
        </div>
        <div class="formulario__grupo">
            <label class="formulario__etiqueta" for="contrasena">Contraseña</label>
            <input class="formulario__entrada" type="text" id="contrasena" name="contrasena">
        </div>
        <button id="btnRegistro" class="formulario__boton" type="submit">Iniciar Sesión</button>
    </form>
    <!-- <script type="module" src="/script.js"></script> -->
    <script type="module" src="/controllers/usuarioController.js
     "></script>
</body>

</html>